*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

h1 {
    padding: 0;
    margin: 0;
}

h3 {
    font-family: sans-serif;
    color: #d078af;
}

.wrapper {
    /* padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
}

header {
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
    text-align: center;
    margin: 20px 0px;
}
  
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}
  
.card-body {
    min-height: 100px;
}
  
.card-footer {
    text-align: center;
}
  
.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}
  
.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}
  
.btn {
    border: none;
    background-color: hsl(206, 17%, 28%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 22px;
    line-height: 22px;
    margin: auto;
    text-align: center;
    cursor: pointer;    
    padding: 20px;
}
  
button[disabled] {
    cursor: default;
    background: #c0c7cf;
}
  
.float-right {
    float: right;
    padding-right: 30px;
}

.float-left {
    float: left;
    padding-left: 30px;
}

.hidden {
    display: none;
}